body{
    overflow-x: hidden;   
}

.dropdown-menu{
    background-color: rgba(255, 255, 255, .6);
    margin-top: 0px;
}
.dropdown-item{
   font-weight: bold;
    
}
.nav-link:hover{
    color: red!important;
}
.Cb{
    float: right;
}
.Cb:hover{
    transform: translateY(-20px);
    box-shadow: black;
}
.abimg:hover{
    transform: translateY(-20px);
    box-shadow: black;
}
.bimg{
    background-image: url(bgnum.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;    
}
.num{
    background-color: rgba(248, 18, 18, 0.2);
}
.tet{
   color: rgb(255, 219, 16); 
   font-weight: bolder;
   font-size: x-large;
}
.sbimg{
    background-image: url(top.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}
.num2{
    background-color: rgba(255, 255, 255, 0.7);
}
.carousel-control-prev-icon{
    background-color: black;
}
.carousel-control-next-icon{
    background-color: black;
}
.abo{
    background-color: rgb(245, 245, 245);
}
.con{
    background-color: rgb(245, 245, 245);
}
.dbimg{
    background-image: url(pl2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;    
}
.footer-bottom{
    background-color: black;
    color: white;
}
.footer-top{
    background-color: rgb(48, 47, 47);
    color: white;
}
.social{
    font-size: x-large;
}
#link-design{
    list-style: square;
}
a:hover{
    color: red;
}
@media (min-width: 992px) {
    .dropdown-menu .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }
    .dropdown-menu .dropdown-menu {
        margin-left: 0;
        margin-right: 0;
    }
    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu>li:hover {
        background-color: #f1f1f1
    }
    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
}
