body{
    overflow-x: hidden;   
}

.dropdown-menu{
    background-color: rgba(255, 255, 255, .6);
    margin-top: 0px;
}
.dropdown-item{
   font-weight: bold;
    
}
.nav-link:hover{
    color: red!important;
}
.Cb{
    float: right;
}
.bimg{
    background-image: url(bgnum.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;    
}
.num{
    background-color: rgba(248, 18, 18, 0.2);
}
.tet{
   color: rgb(255, 219, 16); 
   font-weight: bolder;
   font-size: x-large;
}
.sbimg{
    background-image: url(top.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}
.num2{
    background-color: rgba(255, 255, 255, 0.7);
}
.carousel-control-prev-icon{
    background-color: black;
}
.carousel-control-next-icon{
    background-color: black;
}
.abo{
    background-color: rgb(245, 245, 245);
}
.con{
    background-color: rgb(245, 245, 245);
}
.dbimg{
    background-image: url(pl2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;    
}
.footer-bottom{
    background-color: black;
    color: white;
}
.footer-top{
    background-color: rgb(48, 47, 47);
    color: white;
}
.social{
    font-size: x-large;
}
#link-design{
    list-style: square;
}
a:hover{
    color: red;
}